@import url(main.css);

.header__class {
  height: 75vh;
  background-image: url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

/*navbar*/
nav {
  width: 80%;
  padding: 3%;
}

nav ul {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-weight: 500;
}

/*hero da página*/

.header-content {
  display: flex;
  flex-direction: column-reverse;
}

.header__text {
  display: flex;
}

.header__text p {
  font-size: 1em;
  font-weight: 600;
  color: white;
}

.header__text p span {
  color: #033a40;
  font-weight: 600;
}

.header__img img {
  width: 80%;
  max-width: 400px;
  height: auto;
  display: block;
  margin: 0 auto;
}
