@import url(hero.css);
@import url(about.css);
@import url(homeopatia.css);
@import url(provaDeVida.css);
@import url(faq.css);

/*fonts import*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

footer {
  height: 50vh;
  background-color: #011f26;
  margin-top: 10vh;
}

.margin {
  padding: 0 30px 0 30px;
}

.center {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}
