@import url(main.css);

/*prova de vida*/

.prova__de__vida {
  border-top-left-radius: 7%;
  border-top-right-radius: 7%;
}

.prova__de__vida h1 {
  text-align: center;
}

.prova__de__vida-acordion {
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-width: 55%;
  margin: 0 auto;
}

.prova__de__vida-acordion h4 {
  text-align: center;
  font-size: 19px;
}

.prova__de__vida-acordion p {
  text-align: justify;
}
